<% include header %>
<% include nav %>
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/isotopestyle.css">



<h1>Lijst met toiletten</h1>

  <div class="list">

    <div class="button-group filters-button-group">
      <button class="button is-checked" data-filter="*">Show all</button>
      <button class="button" data-filter=".man">Mannen</button>
      <button class="button" data-filter=".vrouw">Vrouwen</button>
      <button class="button" data-filter=".gehandicapt">Gehandicapt</button>
      <button class="button" data-filter=".luier">Luiertafel</button>
    </div>

    <div class="grid">

  <%
    var toiletLijst = toiletten.length;
    for(var toiletIndex=0; toiletIndex<toiletLijst; toiletIndex++) {
  %>
 
          <div class="element-item" data-category="">

            <% var toilet = toiletten[toiletIndex] %>
            <p class="naam"><%=toilet.attributes.OMSCHRIJVING %></p>
            <p id="noshow" class="man"><%=toilet.attributes.DOELGROEP %></p>
            <p id="noshow" class="vrouw"><%=toilet.attributes.DOELGROEP %></p>
            <p id="noshow" class="gehandicapt"><%=toilet.attributes.INTEGRAAL_TOEGANKELIJK %></p>
            <p id="noshow" class="luier"><%=toilet.attributes.LUIERTAFEL %></p>

            <a class="more" href="/toiletdetail/<%=toiletIndex %>">Meer lezen...</a>

          </div>

  <%
    }
  %>

    </div>

  <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
  <script src="/js/lijst.js"></script>

<% include footer %>
